body { margin: 0; padding: 0; font-family: Helvetica; overflow: hidden}
#map { position: absolute; top: 0; bottom: 0; width: 100%; z-index:5; overflow: hidden}

#heading {position: absolute; top: 0; left: 0; z-index:10; margin:10px; font-weight:900;}
#settings {position: absolute; top: 150px; left: 0; z-index:10; margin:10px; font-weight:900; font-size:14px}
#title { -webkit-text-stroke: 1.5px #f065c7; color:#ddd; font-size:60px; position: absolute; top: -20px; width:500px;}
#author { color:#ddd; font-size:20px; position: absolute; top: 110px; width: 500px;}
#subtitle{ font-size:20px; color:#ddd; margin:5px -5px 0px 0px }
#descrip{ -webkit-text-stroke: 1px #f065c7; position: absolute; font-size:20px; top:50px; color:#ddd; margin:5px -5px 0px 0px; width:500px; padding: 0px 10 0px 10px; max-width: 500px;}

.form-select{ color:#f065c7; width: 300px; }

#move { position: absolute; padding:5px; background-color: white; border-radius: 3px; font-family: monospace; z-index:6;}
table.tableA { }
table.tableA td, table.tableA th{ border-bottom: 1px solid blue;}

.legend {padding: 10px; z-index:10; position: absolute; left: 500px; background: rgba(200, 200, 200, 0.8); margin: 10px;overflow: auto; border-radius: 3px; top: 0; width:95px;}
.legend-name { font-size:20px;}
.legend-title { margin-bottom: 5px;}
.legend-key { display: inline-block; border-radius: 20%; width: 20px; height: 20px; margin-right: 5px; z-index:10; }
#legend{ left: 520px; }
#legend2{ left: 630px; }
#legend3{ left: 740px; }
#legend4{ left: 850px; }
#legend5{ left: 960px; }

.tooltip { position: relative; display: inline-block; border-bottom: 1px dotted black; }
.tooltip .tooltiptext { visibility: hidden; width: 400px; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 5px; position: absolute; z-index: 1; }
.tooltip:hover .tooltiptext { visibility: visible; }
